<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
        xmlns:tools="http://schemas.android.com/tools"
        package="com.example.bishal.taskter">


    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission
            android:name="android.permission.BIND_DEVICE_ADMIN"
            tools:ignore="ProtectedPermissions" />

    <application
            android:allowBackup="true"
            android:icon="@mipmap/icon"
            android:label="@string/app_name"
            android:roundIcon="@mipmap/icon_round"
            android:supportsRtl="true"
            android:theme="@style/AppTheme">
        <activity android:name="com.example.bishal.taskter.lockscren"></activity>
        <activity android:name="com.example.bishal.taskter.About"
                android:parentActivityName="com.example.bishal.taskter.MainActivity"
                android:theme="@style/AppTheme.MaterialAboutActivity">
        <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.bishal.taskter.MainActivity"/>
        </activity>

        <activity android:name="com.example.bishal.taskter.SplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <service
                android:name="com.example.bishal.taskter.ForegroundService"
                android:enabled="true"
                android:exported="false" />
        <service
                android:name="com.example.bishal.taskter.FirebaseMessagingService"
                android:enabled="true"
                android:exported="true">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>

        <receiver
                android:name="com.example.bishal.taskter.DeviceAdmin"
                android:permission="android.permission.BIND_DEVICE_ADMIN">
            <meta-data
                    android:name="android.app.device_admin"
                    android:resource="@xml/policies" />

            <intent-filter>
                <action android:name="android.app.action.DEVICE_ADMIN_ENABLED" />
            </intent-filter>
        </receiver>
        <receiver
                android:name="com.example.bishal.taskter.AlarmReceiver"
                android:enabled="true"
                android:exported="true" />

        <activity android:name="com.example.bishal.taskter.MainActivity"/>
    </application>

</manifest>